doctype html
html
	head
		title Submission
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href="/css/main.css")
	body
		block content
		block scripts